# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Local datasets
fire_dataset/
archive/

# Uploaded / output media in static
static/output/*
!static/output/.gitkeep
